


@import 'leaflet/dist/leaflet.css';

html, body {
  height: 100%;
  margin: 0;
}

app-root, #map {
  height: 100vh;
  width: 100vw;
}

/* Map container */
#map {
  background: #f4f6f8;
}
